torch
torchvision
torchaudio
torchsummary
numpy
tqdm
rowan
pandas
opencv-python
PyYAML
scikit-learn
setuptools
matplotlib
requests
py-cpuinfo
psutil
seaborn
ultralytics-thop
ultralytics
gitpython
setuptools==80.4.0
